/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --pipeline-step-size: 50px;
  --pipeline-arrow-width: 50px;
  --pipeline-arrow-size: 2px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sidebar {
  overflow-y: auto;
  max-height: 100vh;
  width: 400px; /* Restored sidebar width */
}

.pipeline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Add some space between items */
}

.pipeline-step {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow {
  position: relative;
  width: var(--pipeline-arrow-width);
  height: var(--pipeline-arrow-size);
  background-color: #9ca3af;
  margin-left: 6px; /* Adjusted to move right */
}

.arrow::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-top: 5px solid transparent;
  border-left: 10px solid #9ca3af;
  border-bottom: 5px solid transparent;
}
